.content {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: beige;
    padding: 20px;
    width: 1000px;
    align-content: center;
}

#display {
    width: 100%;
}

#slider {
    width: 100%;
}

.previous-passwords {
    margin-bottom: 20px;
}