body {
    background-color: silver;
}

.container {
    background-color: rgb(107, 6, 6);
    height: auto;
    width: 700px;
    color: snow;
    border: 20px solid black
}

h1 {
    color: snow;
    text-align: center;
}

.result-container {
    background-color: snow;
    width: 100%;
    height: auto;
    color: rgb(5, 5, 5);
    padding: 20px;
}

.bnt {
    float: right;
}

.setting {
    background-color: silver;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: max-content;
    color: black;
}

hr {
    border: 3px solid silver;
}

#generate {
    background-color: silver;
    margin: 10px;
}